{% extends "templates/partials/base.twig" %}

{% block title %} LMS - {{books[0].NAME}} {% endblock %}

{% block body %}
<main>
        <div class="book">
            <table class="table">
                <thead>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Author</th>
                    <th scope="col">Status</th>
                <th scope="col">Type</th>
                    <th scope="col">Option</th>
                </thead>
                <tr>
                    <td>{{ books[0].BOOKID }}</td>
                    <td>{{ books[0].NAME }}</td>
                    <td>{{ books[0].AUTHOR }}</td>
                    <td>{{ books[0].STATUS }}</td>
                    <td>{{ books[0].TYPE }}</td>
                    {%if (books[0].STATUS == "AVAILABLE" and books[0].BOOKID != user.BOOKID) %}
                        <td><a href="/book/request/{{ books[0].BOOKID }}" ><button>Request Book</button></a></td> 
                    {% elseif books[0].BOOKID==user.BOOKID %}
                        <td> <a href= "/book/return/{{ books[0].BOOKID }}" ><button onclick="location.href='/book'">Return</button></td></a>
                    {% else %}
                        <td><button disabled>Book Unavailable</button></td>
                    {% endif %}
                </tr>
            </table>
        </div>
    </main>
{% endblock %}